# Ignore everything
*

# But not Java files...
!.gitignore
!.travis.yml
!build.gradle
!build.gradle.kts
!gradlew
!gradlew.bat
!LICENSE
!settings.gradle
!*.java
!src/main/resources/
!*.md
!*.lua
# ...even if they are in subdirectories
!*/